{% extends "svotree/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}

{% endblock %}

{% block content %}

    {% include Constants.instructions_9tdm %}

    <div class="container-fluid">
    {% for decision in nine_item_tdm_decisions %}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                     <div class="panel-heading"><strong>{{ decision.number }}</strong></div>
                     <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 tdm-item">
                                <table class="table">
                                    <tr>
                                        <th>{{ decision.number }}</th>
                                        <th align="center"><strong>A</strong></th>
                                        <th align="center"><strong>B</strong></th>
                                        <th align="center"><strong>C</strong></th>
                                    </tr>
                                    <tr>
                                        <td><strong>You receive</strong></td>
                                        <td class="tdm-cell">{{ decision.optionA.self }}</td>
                                        <td class="tdm-cell">{{ decision.optionB.self }}</td>
                                        <td class="tdm-cell">{{ decision.optionC.self }}</td>
                                    </tr>                                    <tr>
                                    <td><strong>Other receives</strong></td>
                                        <td class="tdm-cell">{{ decision.optionA.other }}</td>
                                        <td class="tdm-cell">{{ decision.optionB.other }}</td>
                                        <td class="tdm-cell">{{ decision.optionC.other }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="tdm-cell"><input type="radio" name="nine_item_tdm_{{ decision.number }}" value="A" /></td>
                                        <td class="tdm-cell"><input type="radio" name="nine_item_tdm_{{ decision.number }}" value="B" /></td>
                                        <td class="tdm-cell"><input type="radio" name="nine_item_tdm_{{ decision.number }}" value="C" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6" align="center">

                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <button class="btn btn-primary btn-large" id="continue_button" >Continue</button>

{% endblock %}

{% block scripts %}

{% endblock %}
